<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/style/main.sass" />
</head>

<body>
  <h1>
    Page 2
  </h1>
  <h2>
    Pidby example
  </h2>
  <p>
    The chosen layout is <%= layout.name %>
      (<%= layout.mm.width %>x<%= layout.mm.height %>mm or <%= layout.in.width %>x<%= layout.in.height %>in).
  </p>
  <p>
  </p>
</body>

</html>